@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Baloo 2', cursive;
        font-weight: 650;
        margin: 0;
        padding: 0;
        background-color: #EFEFEF;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #root {
        min-height: 100vh;
        width: 100%;
    }

    html {
        scroll-behavior: smooth;
    }
}

.no-native-eye::-webkit-textfield-decoration-container {
  display: none !important;
}
