@import "tailwindcss";

@theme {
    --color-primary:#160559;
    --color-secondary: #FCAD0B;
    --color-terciary: #062759;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    margin: 0;
    padding: 0 !important;
    min-height: 100vh;
    width: 100%;
}